.App {
  width: max-content;
  margin: 0 auto;
}

h1,p{
  margin: 5px 0;
}

h1{
  font-weight: normal;
  margin-top: 60px;
}

.btn-birthday{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
